.ProfileDropdown {
  @apply flex;
  @apply flex-row;
  @apply items-center;
  cursor: pointer;
  margin-right: 5px;

  & svg {
    width: 25px;
    height: 25px;
    stroke: #fff;
  }

  @media screen and (min-width: 321px) {
    margin-right: 15px;
  }
}
