.RecomendationFilters {
  padding: 0 6%;
  padding-bottom: 50px;
  @apply flex;
  @apply flex-col;
  background: linear-gradient(var(--main-dark) 50%, transparent);
  width: 100%;

  & > div {
    @apply flex;
    @apply items-center;
    margin: 0 auto;
  }

  h2 {
    color: var(--main-light);
    font-size: 1.5rem;
    margin-right: 15px;
  }

  @media screen and (min-width: 768px) {
    & {
      @apply flex-row;
    }

    justify-content: space-between;

    & > div {
      margin: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    background: transparent;
    padding: 0 6%;

    & h2 {
      font-size: 2rem;
    }
  }
}
