.FeaturedMovie {
  width: 100%;
  padding: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 200px;
  }

  @media screen and (min-width: 1024px) {
    width: 60%;
    margin: 0 5.5%;
    margin-top: 100px;
  }

  &__image {
    width: 70%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      width: 40%;
    }

    @media screen and (min-width: 1024px) {
      width: 60%;
      margin: 0;
    }

    @media screen and (min-width: 1920px) {
      width: 30%;
    }
  }

  &__description {
    color: var(--main-light);
    font-size: 1rem;
    line-height: 1.75;
    margin: 15px 0;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 40%;
      margin: 15px auto;
    }

    @media screen and (min-width: 1024px) {
      color: var(--main-light);
      font-size: 1.4rem;
      line-height: 1.75;
      margin: 15px 0;
      width: 60%;
      text-align: left;
    }

    @media screen and (min-width: 1920px) {
      width: 45%;
      margin: 0;
    }
  }

  &__button-wrapper {
    display: flex;
    @apply items-center;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      justify-content: start;
    }
  }
}